<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hengai.com.shishuo"
          xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"
        tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64"/>


    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
<!--CC-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/newlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hengai.com.shishuo.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="hengai.com.shishuo.ui.activity.LoginActivity"/>

        <activity android:name=".ui.activity.CeshiActivity">

        </activity>
        <!-- 注册界面 -->
        <activity android:name="hengai.com.shishuo.ui.activity.Login2Activity"/>


        <!--登录界面-->
        <activity android:name=".ui.activity.LoginPwdActivity"/>
        <!-- 集成QQ登录中需要的 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1105807406"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="hengai.com.shishuo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="hengai.com.shishuo.ui.activity.MyDreamActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyDreamCity"></activity>
        //直播页面
        <activity android:name=".ui.activity.LiveActivity">

        </activity>
        //我的直播
        <activity android:name=".ui.activity.MyLiveActivity"/>
        //多课时直播详情
        <activity android:name=".ui.activity.CourseDetailsActivity"/>
        //单课时直播详情
        <activity android:name=".ui.activity.CourseOneDetailsActivity"/>
        //评价页面
        <activity android:name=".ui.activity.EvaluationActivity">
        </activity>
        //报名成功分享页面
        <activity android:name=".ui.activity.SignUpActivity"></activity>
        //直播房间页面
        <activity android:name=".ui.activity.LiveRoomActivity"></activity>
        //视频点播  播放页面
        <activity android:name=".ui.activity.MediaPlayActivity"
                  android:configChanges="screenSize|keyboardHidden|orientation"
                  android:label="@string/play"
                  android:screenOrientation="sensor"
            ></activity>
        <activity android:name=".ui.activity.VideoPlayActivity"></activity>
        //视频录制界面
        <activity android:name=".ui.activity.VideoRecorderActivity_2"></activity>

        <activity android:name=".ui.activity.VideoPublishActivity_2"></activity>
        <activity android:name=".ui.activity.VideoPublishNoSelectActivity_2"></activity>
        //练课视频详情页
        <activity android:name=".ui.activity.LessonDetailActivity"></activity>
        //评价分享页
        <activity android:name=".ui.activity.EvalutionShareActivity"></activity>
        //抽题
        <activity android:name=".ui.activity.QuestionActivity"></activity>
        //课题图片介绍界面
        <activity android:name=".ui.activity.PhotoPagerActivity"></activity>
        //抽完提开始备考界面
        <activity android:name=".ui.activity.StartPrepareActivity"></activity>

        //上传发布成功分享界面
        <activity android:name=".ui.activity.ReleaseSuccessActivity"></activity>

        //新浪微博分享
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.activity.LessonVideoActivity"></activity>
      //资料资讯页面
        <activity android:name=".ui.activity.InfoMationActivity"></activity>
        //资料资讯详情页面
        <activity android:name=".ui.activity.InfomationDetailsActivity"></activity>
      //直播回放页面
        <activity android:name=".live.activity.ReplayActivity"
                  android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity android:name=".ui.activity.BaseWebActivity"></activity>

        <activity android:name=".ui.activity.PenTestWebActivity"></activity>
        <service
            android:name=".upload.UploadService"
            android:enabled="true" >
        </service>
        <!--<activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:exported="false"
                  android:windowSoftInputMode="adjustResize">

        </activity>-->

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        //微信支付
        <activity
            android:name="cn.beecloud.BCWechatPaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="cn.beecloud.BCWechatPaymentActivity" />
        //支付宝
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
       <!--直播观看页-->
        <activity
            android:name=".live.activity.PcLivePlayActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58abfdb9f5ade42da7000218"/>
    </application>

</manifest>